.sub-bar {
    background-color: $secondary-color;
    margin-bottom: 82px;

    @media(max-width:992px) {
        margin-bottom: 8px;
    }
    
    @media(max-width:767px) {
        display: none;
    }

    ul.container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width:992px) {
            padding-left: 39px;
            padding-right: 39px;
        }
        
        @media(max-width:767px) {
            padding-left: 15px;
            padding-right: 15px;
            flex-wrap: wrap;

            li {
                width: 100%;
            }

            img {
                display: none;
            }
        }

        ul {
            display: flex;

            li a {
                display: block;
                font-size: 20px;
                line-height: 28px;
                font-weight: 700;
                font-family: 'Noto Sans', sans-serif;
                color: #ffffff;
                text-decoration: none;
                padding-top: 12px;
                padding-bottom: 14px;
                margin-right: 48px;

                @media(max-width:992px) {
                    font-size: 16px;
                    line-height: 22px;
                    margin-right: 32px;
                }

                @media(max-width:767px) {
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}

.blog-content {
    margin-bottom: 100px;

    @media(max-width:992px) {
        padding-left: 39px;
        padding-right: 39px;
        margin-bottom: 104px;
    }

    @media(max-width:767px) {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 24px;
        margin-bottom: 39px;
    }

    li {
        width: 100%;
        margin-bottom: 60px;
        position: relative;

        @media(max-width:992px) {
            margin-bottom: 32px;
        }

        @media(max-width:767px) {
            margin-bottom: 26px;
        }

        ul {
            display: flex;

            @media(max-width:767px) {
                flex-wrap: wrap;
            }

            .blog-img {
                width: 55%;

                @media(max-width:992px) {
                    width: 55%;
                    margin-right: 30px;
                    height: auto;
                }

                @media(max-width:767px) {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 8px;
                }

                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            .blog-text {
                width: 45%;
                
                @media(max-width:992px) {
                    width: 45%;
                }

                @media(max-width:767px) {
                    width: 100%;
                    margin: 0;
                }

                h2 {
                    font-size: 32px;
                    line-height: 45px;
                    font-weight: 700;
                    font-family: 'Noto Sans', sans-serif;
                    color: $secondary-color;
                    margin: 0;

                    @media(max-width:992px) {
                        font-size: 20px;
                        line-height: 28px;
                    }

                    @media(max-width:767px) {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }

                .blog-title {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 24px;

                    @media(max-width:992px) {
                        margin-bottom: 16px;
                    }

                    @media(max-width:767px) {
                        margin: 0;
                    }

                    h4 {
                        font-size: 20px;
                        line-height: 26px;
                        font-weight: 500;

                        @media(max-width:992px) {
                            font-size: 16px;
                            line-height: 21px;
                            font-weight: 700;
                        }

                        @media(max-width:767px) {
                            font-size: 14px;
                            line-height: 19px;
                        }
                    }

                    p {
                        font-size: 16px;
                        line-height: 21px;
                        font-weight: normal;

                        @media(max-width:992px) {
                            font-size: 14px;
                            line-height: 19px;
                            margin: 0;
                        }

                        @media(max-width:767px) {
                            display: block;
                        }
                    }
                }

                .blog-preview {
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 700;
                    font-family: 'Noto Sans', sans-serif;
                    margin-bottom: 19px;

                    @media(max-width:992px) {
                        font-size: 14px;
                        line-height: 21px;
                    }

                    @media(max-width:767px) {
                        display: none;
                    }
                }

                div {
                    text-align: right;

                    @media(max-width:767px) {
                        display: none;
                    }

                    a {
                        display: block;
                        font-size: 36px;
                        line-height: 48px;
                        color: $secondary-color;
                        font-weight: 700;
                        text-decoration: none;
                        position: absolute;
                        bottom: 0;
                        right: 0;

                        @media(max-width:992px) {
                            font-size: 14px;
                            line-height: 21px;
                        }
                    }
                }
            }
        }
    }
}