.sub-bar-thisPage {
    @media(max-width:767px) {
        display: block;
    }
}

.content-text {
    padding: 0;
    display: flex;

    @media(max-width:992px) {
        padding-left: 39px;
        padding-right: 39px;
    }

    @media(max-width:767px) {
        padding-left: 15px;
        padding-right: 15px;
        flex-wrap: wrap;
    }

    .main-text {
        width: 70%;
        margin-top: -74px;
        margin-right: 31px;

        @media(max-width:992px) {
            width: 75%;
            margin: 0;
            margin-right: 31px;
        }

        @media(max-width:767px) {
            width: 100%;
            margin: 0;
        }

        .breadcrumb {
            padding: 0;
            margin-bottom: 17px;
            display: flex;

            @media(max-width:992px) {
                margin-bottom: 8px;
            }

            @media(max-width:767px) {
                margin-bottom: 6px;
            }

            li:after {
                content: '/';
                padding-left: 5px;
                padding-right: 5px;
            }

            li:last-child {
                
                a {
                    color: $primary-color;
                }

                &:after {
                    content: '';
                }
            }

            li a {
                color: #000000;
                font-size: 16px;
                line-height: 22px;
                text-decoration: none;
                font-weight: 700;
                font-family: 'Noto Sans', sans-serif;

                @media(max-width:992px) {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }

        .hashtag {
            display: flex;
            margin: 0;

            li {
                font-size: 24px;
                line-height: 32px;
                font-weight: 700;
                font-family: 'Roboto', sans-serif;
                color: $primary-color;
                margin-right: 16px;

                @media(max-width:992px) {
                    font-size: 16px;
                    line-height: 21px;
                    margin-right: 8px;
                }

                @media(max-width:767px) {
                    font-size: 14px;
                    line-height: 19px;
                    margin-right: 4px;
                }
            }
        }

        h2 {
            font-size: 48px;
            line-height: 67px;
            font-weight: 700;
            margin-bottom: 5px;

            @media(max-width:992px) {
                font-size: 32px;
                line-height: 45px;
            }

            @media(max-width:767px) {
                font-size: 20px;
                line-height: 28px;
                color: $secondary-color;
                margin: 0;
            }
        }

        .text-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 23px;

            @media(max-width:992px) {
                margin-bottom: 16px;
            }

            @media(max-width:767px) {
                margin-bottom: 19px;
            }

            h4 {
                font-size: 28px;
                line-height: 37px;
                font-weight: 700;

                @media(max-width:992px) {
                    font-size: 16px;
                    line-height: 21px;
                }

                @media(max-width:767px) {
                    font-size: 14px;
                    line-height: 19px;
                }
            }

            p {
                font-size: 16px;
                line-height: 21px;
                font-weight: 500;
                color: #6C6C6C;

                @media(max-width:992px) {
                    font-size: 14px;
                    line-height: 19px;
                }
            }
        }

        .article-img {
            width: 100%;
            margin-bottom: 24px;

            @media(max-width:992px) {
                margin-bottom: 16px;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .article-text {
            font-size: 20px;
            line-height: 30px;
            font-weight: 700;
            color: #6C6C6C;
            font-family: 'Noto Sans', sans-serif;
            margin-bottom: 36px;
            text-align-last: left;

            @media(max-width:992px) {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 24px;
            }
        }

        .share-media {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #707070;
            padding-bottom: 16px;
            margin-bottom: 24px;

            @media(max-width:992px) {
                margin-bottom: 16px;
            }

            li:first-child {
                font-size: 20px;
                line-height: 26px;
                font-weight: 700;
                margin-right: 19px;

                @media(max-width:992px) {
                    font-size: 16px;
                    line-height: 21px;
                }
            }

            li a {
                margin-right: 16px;

                img {
                    max-width: 100%;

                    @media(max-width:992px) {
                        width: 20px;
                    }
                }
            }
        }

        .switch-article {
            display: flex;
            justify-content: space-between;
            margin-bottom: 304px;

            @media(max-width:992px) {
                margin-bottom: 104px;
            }

            @media(max-width:767px) {
                margin-bottom: 39px;
                flex-direction: column;
            }

            li:first-child {
                
                @media(max-width:767px) {
                    margin-bottom: 8px;
                }

                a {
                    font-size: 19px;
                    line-height: 26px;
                    font-weight: 700;
                    color: #000000;
                    text-decoration: none;

                    @media(max-width:992px) {
                        font-size: 16px;
                        line-height: 22px;
                    }

                    @media(max-width:767px) {
                        font-size: 14px;
                        line-height: 20px;
                    }

                    img {
                        max-width: 100%;
                        margin-right: 8px;
                        vertical-align: top;

                        @media(max-width:992px) {
                            width: 20px;
                        }

                        @media(max-width:767px) {
                            width: 16px;
                        }
                    }
                }
            }

            li:last-child {
                
                @media(max-width:767) {

                }

                a {
                    font-size: 19px;
                    line-height: 26px;
                    font-weight: 700;
                    color: #000000;
                    text-decoration: none;

                    @media(max-width:992px) {
                        font-size: 16px;
                        line-height: 22px;
                    }

                    @media(max-width:767px) {
                        font-size: 14px;
                        line-height: 20px;
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: flex-end;
                    }

                    img {
                        max-width: 100%;
                        margin-left: 8px;
                        vertical-align: top;

                        @media(max-width:992px) {
                            width: 20px;
                        }

                        @media(max-width:767px) {
                            width: 16px;
                            margin-left: 0;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }

    .side-tag {
        width: 30%;
        margin-top: -4px;

        @media(max-width:992px) {
            width: 25%;
            margin-top: 55px;
        }

        @media(max-width:767px) {
            width: 100%;
            margin-top: 0;
            margin-bottom: 56px;
        }

        .title-tag {
            display: flex;
            align-items: center;
            margin-bottom: 11px;

            @media(max-width:992px) {
                margin-bottom: 6px;
            }

            img {
                margin-right: 8px;

                @media(max-width:992px) {
                    width: 24px;
                }
            }

            h3 {
                font-size: 28px;
                line-height: 37px;
                font-weight: 700;
                font-family: 'Roboto', sans-serif;
                color: $primary-color;
                margin: 0;

                @media(max-width:992px) {
                    font-size: 20px;
                    line-height: 26px;
                }
            }
        }

        .hashtag {
            display: flex;
            flex-wrap: wrap;
            margin: 0;

            li {
                font-size: 24px;
                line-height: 32px;
                font-weight: 700;
                font-family: 'Roboto', sans-serif;
                color: $primary-color;
                margin-right: 40px;
                margin-bottom: 8px;

                @media(max-width:992px) {
                    font-size: 16px;
                    line-height: 21px;
                    margin-right: 30px;
                    margin-bottom: 0;
                }

                @media(max-width:767px) {
                    margin-right: 10px;
                }
            }
        }
    }
}