.common-banner {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/qa.png);
    height: 304px;
    margin-bottom: 16px;

    @media(max-width:992px) {
        background-position: center;
        background-size: cover;
    }

    @media(max-width:767px) {
        height: 143px;
    }

    .container {
        height: 100%;
        position: relative;
    }

    h2 {
        font-size: 64px;
        line-height: 90px;
        font-weight: 700;
        margin: 0;
        position: absolute;
        bottom: 0;
        display: flex;

        @media(max-width:992px) {
            font-size: 48px;
            line-height: 67px;
            margin-left: 32px;
        }

        @media(max-width:767px) {
            font-size: 28px;
            line-height: 40px;
            margin-left: 15px;
        }

        img {
            margin-left: 24px;

            @media(max-width:992px) {
                margin-left: 16px;
                width: 30px;
            }

            @media(max-width:767px) {
                width: 17px;
                margin-left: 8px;
            }
        }
    }
}

.location-menu {
    margin-bottom: 32px;

    @media(max-width:992px) {
        padding-left: 39px;
        margin-bottom: 24px;
    }

    @media(max-width:767px) {
        padding-left: 15px;
        margin-bottom: 20px;
    }

    label {
        font-size: 24px;
        line-height: 33px;
        font-weight: 700;
        font-family: 'Noto Sans', sans-serif;
        margin-right: 20px;

        @media(max-width:992px) {
            font-size: 16px;
            line-height: 22px;
        }

        @media(max-width:767px) {
            font-size: 14px;
            line-height: 20px;
            margin-right: 12px;
        }
    }

    select {
        width: 324px;
        height: 45px;
        font-weight: 700;
        color: #495057;
        padding-left: 19px;

        @media(max-width:992px) {
            width: 237px;
            padding-left: 16px;
            font-size: 16px;
            line-height: 22px;
        }

        @media(max-width:767px) {
            width: 277px;
            height: 36px;
            font-size: 14px;
            line-height: 20px;
        }
    }
}

.store-location {
    margin-bottom: 34px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 104px;

    @media(max-width:992px) {
        justify-content: space-between;
        padding-left: 39px;
        padding-right: 39px;
    }

    @media(max-width:767px) {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 56px;
    }

    li {
        width: 30.33333%;
        margin-right: 30px;
        margin-bottom: 32px;
        border: 1px solid #00000020;

        @media(max-width:992px) {
            width: 48%;
            margin-right: 0;
            margin-bottom: 20px;
        }

        @media(max-width:767px) {
            width: 100%;
            margin-bottom: 16px;
        }

        .store-img {
            max-width: 100%;
        }

        h3 {
            font-size: 24px;
            line-height: 36px;
            font-weight: 700;
            font-family: 'Noto Sans', sans-serif;
            border-bottom: 1px solid #00000020;
            padding: 12px 24px;
            margin: 0;

            @media(max-width:992px) {
                font-size: 16px;
                line-height: 24px;
                padding: 8px 16px;
            }
        }

        .tel {
            display: flex;
            align-items: center;
            padding-top: 16px;
            padding-left: 24px;

            @media(max-width:992px) {
                padding-left: 16px;
            }

            img {
                margin-right: 12px;

                @media(max-width:992px) {
                    margin-right: 16px;
                }
            }

            a {
                color: #000000;
                text-decoration: none;
                font-size: 20px;
                line-height: 30px;
                font-weight: 700;
                font-family: 'Noto Sans', sans-serif;

                @media(max-width:992px) {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }

        .business-hours {
            display: flex;
            align-items: center;
            padding-top: 16px;
            padding-left: 24px;

            @media(max-width:992px) {
                padding-left: 16px;
            }

            img {
                margin-right: 12px;

                @media(max-width:992px) {
                    margin-right: 16px;
                }
            }

            p {
                color: #000000;
                text-decoration: none;
                font-size: 20px;
                line-height: 30px;
                font-weight: 700;
                font-family: 'Noto Sans', sans-serif;
                margin: 0;

                @media(max-width:992px) {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }

        .location {
            display: flex;
            align-items: flex-start;
            padding-top: 16px;
            padding-left: 24px;
            padding-bottom: 16px;

            @media(max-width:992px) {
                padding-left: 16px;
            }

            img {
                margin-right: 12px;

                @media(max-width:992px) {
                    margin-right: 16px;
                }
            }

            p {
                color: #000000;
                text-decoration: none;
                font-size: 20px;
                line-height: 30px;
                font-weight: 700;
                font-family: 'Noto Sans', sans-serif;
                margin: 0;

                @media(max-width:992px) {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }

        .store-detail a {
            display: block;
            background-color: #000000;
            color: #ffffff;
            text-decoration: none;
            width: 100%;
            text-align: center;
            font-size: 19px;
            line-height: 66px;

            @media(max-width:992px) {
                font-size: 14px;
                line-height: 21px;
                padding-top: 16px;
                padding-bottom: 16px;
            }
        }
    }
}